{% if app.user.isFriendsWith(member) %}                                
    <a href="{{ path('delete_friend', {id: member.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet ami ?')">
        <button class="btn btn-danger">Ne plus être amis</button>
    </a>
{% elseif app.user.isRequestPending(member) %}                             
    <p>... Demande envoyée</p>
{% elseif app.user.isRequestReceiving(member) %}
    <a href="{{ path('accept_friend_request', {id: member.id}) }}">
        <button class="btn btn-success"><i class="fas fa-check"></i></button>
    </a>
    <a class="ms-1" href="{{ path('refuse_friend_request', {id: member.id}) }}" onclick="return confirm('Etes vous sûr de vouloir refuser cette demande d'ami ?')">
        <button class="btn btn-danger"><i class="fas fa-times"></i></button>
    </a>
{% else %}                                
    <a href="{{ path('ask_friend', {id: member.id}) }}">
        <button class="btn btn-secondary"><i class="fas fa-plus"></i></button>
    </a>
{% endif %}