<a class="ms-1" href="{{ path('delete_member', {id: member.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet utilisateur ?')">
    <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
</a>
