{% extends "base.html.twig" %}

{% block body %}
    <h4 class="mb-3">Liste de membres</h4>
    <div class="search_member d-flex mb-3">
        <input type="text" class="form-control">
        <button class="btn btn-primary ms-2">Recherchez<i class="fas fa-search ms-2"></i></button>
    </div>
    
    
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Avatar</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Ajouter</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for member in members %}
                    <tr>
                        <th scope="row"><img src="{{ member|image }}" alt="image_avatar"></th>
                        <td>{{member.firstname}}</td>
                        <td>{{member.lastname}}</td>
                        <td>{{member.pseudo}}</td>
                        <td class="add_friends"><a href="#"><i class="fas fa-plus ms-3"></i></a></td>
                    </tr>
                    {% endfor %}                   
                </tbody>
            </table>
        </div>
    

{% endblock %}