{% extends 'base.html.twig' %}

{% block title %}La la share | {{ app.user.fullname }}{% endblock %}

{% block body %}


<div>
    <h1>Bonjour {{ app.user.fullname }} </h1>

    <div class="text-center mt-5">        
        {% block content %}{% endblock %}
        
    </div>

    <div class="text-center mt-5">
        <h5>Ajouter une musique</h5>        
    </div>

    <div class="text-center mt-5">
        <h5>Ajouter un ami</h5>        
    </div>
</div>
{% endblock %}