{% extends 'base.html.twig' %}

{% block title %}La la share | {{ app.user.fullname }}{% endblock %}

{% block body %}


<div>
    <h3 class="text-center my-3">Bonjour {{ app.user.fullname }} </h3>

    <div class="text-center mt-5">        
        {% block content %}
        
        
        {% endblock %}        
    </div>
</div>


{% endblock %}
