{% extends 'base.html.twig' %}

{% block title %}La la share | {{ app.user.fullname }}{% endblock %}

{% block body %}


<div>
    <h1 class="text-center">Bonjour {{ app.user.fullname }} </h1>

    <div class="text-center mt-5">        
        {% block content %}{% endblock %}        
    </div>

    <div class="text-center mt-5">
        <h5 class="my-3"><a href="{{ path('all_members') }}">Ajouter un ami</a></h5>
    </div>
</div>


{% endblock %}
