{% extends 'base.html.twig' %}

{% block title %}La la share{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bonjour {{ app.user.lastname }} </h1>

    <div class="text-center mt-5">
        <h3>Modifier mon profil</h3>

        
    </div>

    <div class="text-center mt-5">
        <h3>Ajouter une musique</h3>

        
    </div>
</div>
{% endblock %}
