 <div id="tchat" class="tchat fixed-bottom">
        <div class="tchat_menu">
            <div class="tchat_menu_info m-1">
                <img src="{{ asset('upload/img/pacman.jpg') }}" alt="user_img">                
                <h5></h5>
            </div>
            <div class="tchat_menu_icon">
                <div class="tchat_slide">
                    <i class="fas fa-chevron-down"></i>
                </div>
                <div class="tchat_close">
                    <i class="fas fa-times"></i>
                </div>   
            </div>        
        </div>
        <div class="conversation_output">
            <!--Entrez message a AFFICHER ici-->                            

        </div>
        <div class="conversation_input">
            <div class="conversation_input_message">
            <!--Entrez message a ENVOYER ici-->
                <textarea id="inpt_message" name="inpt_message" cols="38" rows="2"></textarea>
            </div>
            <div class="conversation_input_icon">
                <div class="conversation_input_icon_btn">
                    <button>Envoyer</button>
                </div>  
            </div>        
            
        </div>
    </div>