<footer class="mt-auto py-3">
    <div class="container">
        <div class="footer_icons">
            <div>
                <a href=""><img src="{{asset('upload/img/icons/share_instagram.png') }}" alt="insta"></a>
                <a href=""><img src="{{asset('upload/img/icons/share_facebook.png') }}" alt="facebook"></a>
            </div> 
            <a href=""><div class="cgu">Conditions Générales d'Utilisation</div></a>
            <div class="copyright"><i class="far fa-copyright me-2"></i>Tous droits Réservés</div>
        </div>
    </div>           
</footer>  