<footer class="mt-auto py-3">
    <div class="container">
            <div class="footer_icons">            
                <img src="{{asset('upload/img/icons/share_instagram.png') }}" alt="insta">
                <img src="{{asset('upload/img/icons/share_facebook.png') }}" alt="facebook">
                <div class="copyrights">Copyrights Tous Droits Reservés</div>
                <div class="cgu">Conditions Générales d'utilisation</div>
            </div>
    </div>           
</footer>  