<div class="text-center">

     <div class="friends_slide">
        <i class="fas fa-chevron-right"></i>
    </div>

    <h3>Amis</h3>

    <div class="admin_contact">
        <img src="{{ asset('upload/img/default_avatar.png')}}" alt="admin_img">
        <h5>Admin</h5>
    </div>
    <hr>    
    

        {% for user in users %}
        <div class="friends">
            {# {% if user.image %}
                <img src="{{ asset('upload/img/pacman.jpg')}}" alt="friends_default_img">
            {% else %} #}
                <img src="{{ asset(user.imagePath) }}" alt="friends_img">
            {# {% endif %} #}
            <h5>{{ user.pseudo }}</h5>    
    
        </div>
        {% endfor %}

       

</div>
