<header>
	<nav>
		<div class="logo">
			<a href=""><li>LA-LA-SHARE</li></a>
		</div>
		<div id="navigation">			
			<ul>
				<li><a href="">Accueil</a></li>
				<li><a href="">Musique</a></li>				
				<li class="user">
					<a href="">					
						<i class="fas fa-user-cog"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
