<div class="text-center">

    <div class="musics_slide">
        <i class="fas fa-chevron-left"></i>
    </div>

    <h3 class="pb-3">Musiques</h3>  

    {# Nouveautés? #}

    {# Listing_musiques #}
    {% for music in musics %}
        <div class="musics_widgets">
            <div class="musics_widgets_img pb-2">
                <img src="{{ asset(music|image) }}" alt="image de {{music.title}}">
            </div>
            <div class="musics_widgets_info">
                <p class="fs-5">{{ music.title }}</p>
                <p>{{ music.artist }}</p>
            </div>       
        </div>
    {% endfor %}
    
</div>
