{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="text-center">    
    <h1>Accueil Hello</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, quaerat. Assumenda cum quibusdam veniam quasi, maiores, dignissimos error doloremque illo vero accusantium nulla non ut repellat voluptate minus molestiae ullam?</p>
    <h3>Nouveautés</h3>

    
    <div class="tchat fixed-bottom">
        <div class="menu">
            <div class="tchat_menu_info m-1">
                <img src="{{ asset('upload/img/pacman.jpg') }}" alt="user_img">
                <h5>Pacman</h5>
            </div>
            <div class="tchat_menu_icon">                
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-times"></i>
            </div>        
        </div>
        <div class="conversation_output">
            <!--Entrez message a AFFICHER ici-->
        </div>
        <div class="conversation_input">
            
            <div class="conversation_input_message">
                <!--Entrez message a ENVOYER ici-->
            </div>
            <div class="conversation_input_icon">
                <button>Envoyer</button>
            </div>
            
        </div>

</div>


</div>






{% endblock %}


