{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="text-center">    
    
    <p class="my-5 fs-4">Bienvenue, crée vous un compte, ajoutez des musiques, partagez-les !</p>
    
    
    <h3 class="mt-5">Nouveautés</h3>

    <div class="new_music_box">
        {% for music in musics %}
        <div class="new_music">
            <div class="new_music_image">   
                <img src="{{ music|image }}" alt="">
            </div>            
            <div class="new_music_info">
                {{music.artist }} - {{ music.title }}               
            </div>        
        </div>
        {% endfor %}
    </div>
    
    
</div>



{% endblock %}


