{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="text-center">    
    <h1>Accueil Hello</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, quaerat. Assumenda cum quibusdam veniam quasi, maiores, dignissimos error doloremque illo vero accusantium nulla non ut repellat voluptate minus molestiae ullam?</p>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, eligendi ab dignissimos omnis voluptatum autem asperiores temporibus commodi recusandae animi fugiat aliquid numquam nesciunt atque amet repellendus minima possimus cum sint qui accusantium hic mollitia. Itaque, nesciunt consequatur error architecto, quasi nostrum eum non, cum aliquam commodi fugiat nihil quaerat?</p>
    <h3>Nouveautés</h3>

</div>










{% endblock %}


