/*-VARIABLE-*/
:root {
    --tchat-1:#092E57;
    --tchat-2:#0B3B70;
    --tchat-3:#0C437D;
    --tchat-4:#4170A3;
    --tchat-5:#22364d;
}
/*-GENERAL-*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff !important;    
}
html {    
    font-size: 16px;
}
body {    
    overflow-x: hidden;
    background-color: #212121;
}
hr {
    color: #303436;
}
p {
    margin: 0;
    padding: 0;
    color: #fff;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    margin: 0;
    padding: 0;
}
input {
    color: black !important;
}
.custom-file-input {
    color: #fff !important;
}

/*----SCROLLBAR----*/
.main::-webkit-scrollbar,
.musics_box::-webkit-scrollbar,
.friends_box::-webkit-scrollbar
{
    width: 12px;               /* width of the entire scrollbar */
    background: #212121;     /* color of the tracking area */
}
.main::-webkit-scrollbar-thumb,
.musics_box::-webkit-scrollbar-thumb,
.friends_box::-webkit-scrollbar-thumb {    
    background-color: #303436;    /* color of the scroll thumb */
    border-radius: 2px;       /* roundness of the scroll thumb */
    border: 1px solid black;  /* creates padding around scroll thumb */
}
.conversation_output::-webkit-scrollbar,
.conversation_input::-webkit-scrollbar {    
    width: 12px;               /* width of the entire scrollbar */
    background: var(--tchat-1);     /* color of the tracking area */
}
.conversation_output::-webkit-scrollbar-thumb,
.conversation_input::-webkit-scrollbar-thumb {
    background-color: var(--tchat-1);    /* color of the scroll thumb */
    border-radius: 2px;
    border: 1px solid var(--tchat-4);  /* creates padding around scroll thumb */
}

/*---TITLE---*/
h1, h2, h3, h4, h5 {
    color: #fff;
    padding: 0;
    margin: 0;
}
/*--NAV--*/
nav {
    margin-bottom: 1vh;
    height: 9vh;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;        
}
nav ul {
    display: flex;
}
nav a {
    font-size: 1.7rem;
    text-decoration: none;
    color: #ffff;
}
nav li {
    padding: 0px 20px;
    list-style: none;
    text-decoration: none;    
}
nav a:hover {
    color: #fff;    
}
nav li:hover {
    animation: growUp 1s forwards;
}
#navigation {   
    border-radius: 5px;
    border: 1px solid #303436;   
}
#navigation ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*--MAIN--*/
.main {  
    overflow-y: scroll;
    position: relative;
    height: 90vh;
}
.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 800px;
}

/*-----MUSICS & FRIENDS-----*/
.musics_box ,
.friends_box {
    border-radius: 5px;
    border: 1px solid #303436;
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;       
}
.musics_slide:hover,
.friends_slide:hover {    
    border-radius: 20px;
    background-color: #333333;
    animation: growUp 1s forwards;
    cursor: pointer;
}
.music_slide:hover {
    padding-left: 6px;
}
.friends_slide:hover {
    padding-right: 6px;
}
.musics_slide {
    color: #fff;
    padding-left: 6px;    
    font-size: 1.5rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 8px;
}
.friends_slide {
    color: #fff;
    padding-right: 6px;
    font-size: 1.5rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 8px;
}
.musics_box {
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 0;
    left: -165px;
    transition: all .3s ease-in-out;
}
.friends_box {
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 0;
    right: -165px;
    transition: all .3s ease-in-out;
}
.musics_box.show {
    left: 0;
}
.friends_box.show {
    right: 0;
}
/*----MUSICS---*/
.musics_widgets {
    display: flex;
    align-items: center;
    justify-content: center;
}

.musics_widgets_img img {        
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
/*-----FRIENDS----*/
.admin_contact h5 {
    margin-right: 5px;
}
.admin_contact {    
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_friends {
    display: flex;
    justify-content: center;
}
.friends {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.admin_contact:hover,
.friends:hover,
.musics_widgets:hover {    
    cursor: pointer;
    background-color: #333333;
    animation: growUp 1s forwards;
}
.friends img {
    margin: 10px;    
    height: 30px;
    width: 30px;
    border-radius: 15px;
}
/*---CARD AUDIO---*/
.player_musics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 10px 10px;
    border: 1px solid #303436;
    border-radius: 5px;    
}
.player_musics_img {
    height: 200px;
    width: 350px;    
}
.player_musics_img img {
    height: auto; 
    width: 100%;   
}
.player_musics_audio {
    padding-top: 16px;
}
.player_musics_menu { 
    width: 100%;   
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;    
}
.player_musics_menu_close {
    margin-left: 16px;
    padding-bottom: 5px;
}
.player_musics_menu_close:hover,
.player_musics_menu_share:hover {
    animation: growUpp 1s forwards;
    cursor: pointer;
}

/*---TCHAT---*/

.tchat {   
    display: none; 
    background-color: var(--tchat-5);    
    z-index: 2;
    height: 350px;
    width: 25%;
    margin-bottom: 2px;
    border-bottom-left-radius: 0;  
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px; 
    transform: translateX(57vw);
}
.tchat_menu {  
    color: #fff;    
    border-bottom-left-radius: 0;  
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;  
    border-top-right-radius: 5px;  
    border-bottom: 1px solid black;
    height: 10%;
    width: auto;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px 4px 0px 4px;    
}
.tchat_menu_info img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 5px;
}
.tchat_menu_info {
    display: flex;   
}
.tchat_menu_icon {
    font-size: 1.3rem;
    margin: 0px 5px;
    display: flex;
}
.tchat_menu_icon i {
    margin: 0px 8px;
}
.tchat_slide:hover,
.tchat_close:hover {
    cursor: pointer;
    animation: growUpp 1s forwards;
}


/*--conversation output--*/
.conversation_output {
    margin: 0px 4px;
    height: 64%;
    width: auto;
    background-color: var(--tchat-1);    
    overflow-y: scroll;
}
.conversation_output div {
    width: fit-content;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 6px;
    color: #fff;
    background-color: var(--tchat-4);
}
.conversation_output_user {   
    background-color: var(--tchat-2);
}
.conversation_output_friends {
    background-color: var(--tchat-4);
}
/*--conversation input--*/
.conversation_input {
    margin: 0px 4px 0px 4px;
    height: 26%;
    width: auto;
    background-color: var(--tchat-3);
    display: flex;
    flex-direction: column;
}
.conversation_input_message {
    margin: 4px 4px 0px 4px;       
}
.conversation_input_message textarea {
    border-radius: 4px;
    background-color: var(--tchat-4);
    width:100%;
    resize: none;
}
.conversation_input_icon {
    display: flex;  
    justify-content: flex-end;
    align-items: center;
    margin: 0px 4px;
}
.conversation_input_icon_btn button {
    border: 0;
    padding: 2px 4px;    
    border-radius: 4px;
    background-color: #212121;
    color: #fff;
}
.conversation_input_icon_btn button:hover {
    animation: growUp 1s forwards;
}


/*---FOOTER----*/
footer {
    background-color: #181818;
}
.footer {
    height: 10%;
}
.footer_icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---KEYFRAMES---*/

@keyframes growUp {
    from {
      transform: scale(1);      
    }  
    50% {
        transform: scale(1.12);
    }
    to {
      transform: scale(1.08);      
    }
}
@keyframes growUpp {
    from {
      transform: scale(1);      
    }  
    50% {
        transform: scale(1.2);
    }
    to {
      transform: scale(1.16);      
    }
}
