{% extends 'base.html.twig' %}

{% block title %}La la share{% endblock %}

{% block body %}


<div>
    <h1 class="mb-5">Bonjour {{ app.user.firstname }}</h1>


    <div class="text-center mb-2"><a href="">Ajouter une musique</a></div>
    <div class="text-center mb-2"><a href="">Supprimer une musique</a></div>
    <div class="text-center mb-2"><a href="">Bannir un utilisateur</a></div>
    <div class="text-center mb-2"><a href="{{ path('all_members') }}">Supprimer un utilisateur</a></div>
    
    
</div>
{% endblock %}
