{% extends "base.html.twig" %}

{% block body %}

    {# Listing member #}
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>                      
                        <th scope="col" class="text-center">Voir</th>
                    </tr>
                </thead>
                <tbody>                    
                    {% for playlist in playlists %}
                    <tr class="all_members">
                        <td>{{playlist.title}}</td>                      
                        <td class="add_friends"></td>
                    </tr>
                    {% endfor %}                   
                </tbody>
            </table>
        </div>
    

{% endblock %}