{% extends 'base.html.twig' %}

{% block title %}Musics{% endblock %}

{% block body %}

    <div class="player_musics">
        <audio src=" {{ asset('upload/musics/keken.mp3') }}"></audio>
    </div> 

    {% include "tchat/tchat.html.twig" %}

   

{% endblock %}
