{% extends 'base.html.twig' %}

{% block title %}Musics{% endblock %}

{% block body %}
    <div class="player_musics">
        <div class="player_musics_menu">
            <div class="player_musics_menu_share">
                <i class="fas fa-share"></i>
            </div>  
            <div class="player_musics_menu_close">
                <i class="fas fa-times"></i>
            </div>            
        </div>

        <div class="player_musics_img">
            <img src="" alt="">
        </div>

        <div class="player_musics_title_artist">
            <p></p>
        </div>

        <div class="player_musics_audio">
            <audio controls preload="auto" id="player">
                <source src="" type="audio/mp3">
            </audio>
        </div>
          
    </div>
     
{% endblock %}
